

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
  .mid-container{
    margin:0px 20px;
  }
  .mid-content{
    width:100%;
    float:none;
    margin-left: 0px;
    margin-bottom: 20px;
    height:300px
  }
  .mid-content h1{
    margin-bottom:20px
  }
  .heading{
    padding-top:40px
  }

}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
  .mid-content{
    height:370px;
  }
  .header-right{
    display: none;
  }
  header .fa {
    display: inline-block;
    padding: 15px;
  }
  .btn-wrapper{
   
    margin: 0px 0px
  }
  .btn-wrapper p{
    margin:10px 0px;
  }
  .btnh {
    padding:12px 30px;
    width:90%;
    border-radius:5px;
    color:white;
    display: inline-block;
    margin:10px
  }
  .footer-dark .item.text {
    margin-bottom:0;
  }
  .content-title h1{
    font-size: 30px;
  }
  .content-title p{
    font-size: 12px;
  }
  .join{
    font-size: 14px;
  }
  .mid-content{
    height: 550px
  }
}
